@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --bg-blue: hsl(217, 54%, 11%);
  --card-blue: hsl(216, 50%, 16%);
  --line-blue: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px, 10px/16px = 62.5%
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  background-color: var(--bg-blue);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
